<footer id = "foot">
<div id ="topfooter" class = "col-lg-12">
<div class = "col-lg-12">
  <p id ="footerheading">WHAT WE STRIVE FOR </p>
</div>
</div>
<div id = "footer" class = "col-lg-12">
</div>
</footer>
</html>
