body{
  padding:0px;
  margin:0px;
}
#footer{
  background-color:#383737;
  height:20pt;
}
.jumbotron.vertical-center{
height:90px;
 width:40%;
 margin-left: auto;
 margin-right: auto;

 margin-bottom: 0px;
 padding-bottom:0px;
 opacity: 0.9;
border-radius:2px;
}
#topfooter{
  background-color:#505050;
  height:300pt;
 margin: 0px;
margin-top: 0px;
padding-top: 0px;
 padding:0px;
}

#footerheading{
color:white;
font-size: 20px;
margin-top: 0px;
font-family: "Avenir Next";
font-weight: lighter;
text-align: center;
}
#midsection{
  display: flex;
align-items: center;
justify-content: center;
  min-height:480px;
background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  padding-bottom: 0px;
   margin-bottom: -80px;
  background-image:url('images/ny.jpg');
}
