body{
  padding:0px;
  margin:0px;
}
#footer{
  background-color:#E14A4A;
  height:25pt;
}
.jumbotron{

height:550px;
 width:97%;
position: absolute;
top:45px;
 opacity: 0.9;
border-radius:10px;
}
#topfooter{
  background-color:#505050;
  height:300pt;
  z-index: -1;
 margin: 0px;
 padding:0px;
}

#footerheading{
color:white;
font-size: 20px;
padding-top: 150px;
font-family: "Avenir Next";
font-weight: lighter;
text-align: center;
}
#midsection{
  height:480px;
  background-color:#E2E2E2;
}
