<div id = "header">

  <ul id="headerlistul">
    <li id="headerlisthome" ><a class = "linkstyle" href = "/">HOME</a></li>
    <li id="headerlistcontact"><a class = "linkstyle"href = "/contact">CONTACT</a></li>
      <li id="headerlistabout" ><a class = "linkstyle" href = "/about">ABOUT</a></li>
  </ul>
</div>

<div id ="midsection" class = "col-xs-12">
  <div id = "text1" class = "col-xs-12"><p><i>Find out what I've accomplished over the years.</i></p></div>
<div id = "text2" class = "col-xs-12"><p>DELVE DEEPER</p></div>
  <div class = "divdiv"><div class="jumbo" id = "jumboid"class = "col-xs-6">
    <A class ="resumelink"HREF="Resume_KaylaFord.pdf"><p class="resume" id = "resumetext">Download Resume</p></a>

</div></div>
</div>
<div id = "midinfosection"class="container">

  <div id ="midinfosec1"  class="col-xs-5"><p class = "workheader"><i class="ion-briefcase"></i>Work Experience</p></div>
  <div id = "midinfosec2" class="col-xs-7"><p class = "work1">CUNY TECH PREP, FULL-STACK DEVELOPER</p></br><p class = "workinfosite1"><a href = "http://cunytechprep.nyc" class = "workinfosite">CUNY TECH PREP</a>, June 2016 - Present</p>

  </br><p class = "work1info">Selected for a competitive full stack JavaScript training program that aims at preparing students for a successful career in software engineering.
  Learn technologies such as React, Node + Express and PostgreSQL.
  Implement industry best practices such as MVC, version control with Git/GitHub, agile & scrum, test driven development, and CI/CD</p></div>

</div>
<div id = "midinfosection2"class="container">

  <div id ="midinfosec1"  class="col-xs-5"></div>
  <div id = "midinfosec2" class="col-xs-7"><p class = "work1">AP COMPUTER SCIENCE TEACHER</p></br><p class = "workinfosite1">Brooklyn Technical, October 2016 - December 2016</p>

  </br><p class = "work1info">Taught ~30 students Java. Helped professor with daily lesson planning and curriculum assessment</p>
</div>

</div>
<div id = "midinfosection3"class="container">

  <div id ="midinfosec1"  class="col-xs-6"><p class = "workheader"><i class="ion-code-working"></i>Technologies</p></div>
  <div id = "midinfosec2" class="col-xs-4"><p class = "work1">COMFORTABLE WITH</p></br>

  </br><ul class = "work1info">
    <li class = "work1info">Java</li>
    <li class = "work1info">JavaScript</li>
    <li class = "work1info">HTML</li>
    <li class = "work1info">CSS</li>
    <li class = "work1info">Node.js</li>
    <li class = "work1info">XML</li>
    <li class = "work1info">SQL</li>
    <li class = "work1info">PostgreSQL</li>
    <li class = "work1info">MongoDB</li>
    <li class = "work1info">React.js</li>
    <li class = "work1info">Express.js</li>
</ul></div>
  <div id = "midinfosec2" class="col-xs-4"><p class = "work1">FAMILIAR WITH</p></br>

  </br><ul class = "work1info">
    <li class = "work1info"> C++</li>
    <li class = "work1info">Bash</li>

</ul></div>

</div>
<div id = "midinfosection3"class="container">

  <div id ="midinfosec1"  class="col-xs-5"><p class = "workheader"><i class="ion-ios-list-outline"></i>Education</p></div>
  <div id = "midinfosec2" class="col-xs-7"><p class = "work1">NEW YORK CITY COLLEGE OF TECHNOLOGY</p></br><p class = "workinfosite1">GPA 3.8, Expected 2019</p>

  </br><p class = "work1info"><b>Course Highlights:</b>  Data Structures and Algorithms, Database Design, Java Programming (I & II), C++ Programming (I & II), and Application Development with Databases.</p></div>

</div>
<div id = "bottomfooter1"><p id = "footerheading1"><a href = "https://github.com/Kaylaf16" class = "linkstyle"><i class="ion-social-github" ></i></a>
  <a class = "linkstyle" href ="https://www.linkedin.com/in/kaylaf16/"><i class="ion-social-linkedin" ></i></a><a href = "mailto:kaylaforddev@gmail.com"class = "linkstyle"><i class="ion-social-google"></i></a></p>

</div>
