<div id = "header">
  <button  id="dropbtn"><i class="ion-navicon"></i></button>
  <ul id="headerlistul">
    <li id="headerlist"><a class = "linkstyle"href = "/">CONTACT</a></li>
      <li id="headerlist" ><a class = "linkstyle" href = "/">HOME</a></li>
      <li id="headerlist" ><a class = "linkstyle" href = "/about">ABOUT</a></li>
  </ul>
</div>

<div id ="midsection" class = "col-lg-12">
  <div id = "text1" class = "col-lg-12"><p><i>Find out what I've accomplished over the years.</i></p></div>
<div id = "text2" class = "col-lg-12"><p>DELVE DEEPER</p></div>
  <div class = "divdiv"><div class="jumbo" id = "jumboid"class = "col-lg-6">
    <A class ="resumelink"HREF="Resume_KaylaFord.pdf"><p class="resume" id = "resumetext">Download Resume</p>

</div></div>
</div>
