
<div id = "header">
  <ul id="headerlistul">
    <li id="headerlist"><a class = "linkstyle"href = "/contact">Contact</a></li>
      <li id="headerlist" ><a class = "linkstyle" href = "/">Home</a></li>
      <li id="headerlist" ><a class = "linkstyle" href = "/about">About</a></li>
  </ul>
</div>
<div class = "h1div">
<h1 class = "h1style">Experience and Accomplishments</h1>
</div>
<div class="dropdown"id="dropdownid">
<button class="btn btn-primary dropdown-toggle" id="buttonid"type="button" data-toggle="dropdown">Category
<span class="caret"></span></button>
<ul class="dropdown-menu" id ="menu">
  <li id="skillid1"><a href="#" id="skillid">Skills</a></li>
  <li><a href="#" id="Expid">Experience</a></li>
  <li><a href="#"id="Intid">Interests</a></li>
</ul>
</div>
<div class = "content">

  <div id="display1"class = "jumbotron"><p class = "pclass">Software Developer</p>
    <p class = "pclass1">Skilled in:</p>
    <ol>
      <li class = "liclass">JavaScript, Java, Express.js, MongoDB,PostgreSQL,React</li>
      <li class = "liclass">Building full stack web applications utilizing ES5/ES6, Express.js, Node,js, MongoDB, React, PostgreSQL, and more!</li>
      <li class = "liclass">Building responsive websites</li>
    </ol>
  </div>
  <div id="display2"class = "jumbotron"><p class = "pclass">Experience</p>
    <p class = "pclass1">Relevant Experiences:</p>
    <ol>
    <li class = "liclass">Full Stack Web Developer at  Cuny Tech Prep </li>
    <li class = "liclass">Research Assistant at New York City College of Technology</li>
    <li class = "liclass">AP Computer Science Student Teacher at Brooklyn Technical High School</li>
  </ol>
  </div>
  <div id="display3"class = "jumbotron"><p class = "pclass">Interests</p>

    <ol>
    <li class = "liclass">Web Development</li>
    <li class = "liclass">Mobile Development</li>
    <li class = "liclass">Virtual Reality and Artificial Intelligence</li>
    <li class = "liclass">Building applications centered around helping others!</li>
  </ol>
  </div>

  </div>


<div class = "content2">

  <div id = "glassdiv" class = "col-sm-6"><a href = "https://github.com/Kaylaf16"><img id = "img2"src ="images/github.png"></img></a></div>
  <div id = "glassdiv2"class = "col-sm-6"><a href = "https://www.linkedin.com/in/kaylaf16/"><img id = "img4"src ="images/linkedin.svg"></img></a></div>
</div>
