<div id = "header">
  <ul id="headerlistul">
    <li id="headerlist"><a class = "linkstyle"href = "">Contact</a></li>
      <li id="headerlist" ><a class = "linkstyle" href = "/">Home</a></li>
      <li id="headerlist" ><a class = "linkstyle" href = "/about">About</a></li>
  </ul>
</div>
<div class = "h1div">
<h1 class = "h1style">Experience and Accomplishments</h1>
</div>
<div class = "content">
  <div class = "jumbotron"><p class = "pclass">Software Developer</p>
    <p class = "pclass1">Experienced in:</p>
    <ol>
      <li class = "liclass">JavaScript, Java, Express.js, MongoDB,PostgreSQL,React</li>
      <li class = "liclass">Building full stack web applications utilizing ES5/ES6, Express.js, Node,js, MongoDB, React, PostgreSQL, and more!</li>
      <li class = "liclass">Building responsive websites</li>
    </ol>
  </div>
  <div id = "glassdiv" class = "col-lg-12"><img class = "imgstyle2"src ="images/glasslogo.png"></img></div>
  <div><a href = "https://github.com/Kaylaf16"><img id = "img2"class = "col-lg-6"src ="images/github.png"></img></a></div>
  <div class = "jumbotron"></div>

</div>
