<div id = "header">
  <ul id="headerlistul">
    <li id="headerlist"><a class = "linkstyle"href = "">Contact</a></li>
      <li id="headerlist" ><a class = "linkstyle" href = "/">Home</a></li>
      <li id="headerlist" ><a class = "linkstyle" href = "/about">About</a></li>
  </ul>
</div>

<div class = "h1div"><p class = "h1style">Connect with <b>me</b></p></div>
<div id = "spaceholder"></div>
<div id ="content">
<form action="/action_page.php">
  <div class="form-group">
    <input type="name" placeholder="Name" class="formcontrol" id="name">
  </div>
  <div class="form-group">
    <input type="email" placeholder="Email" class="formcontrol" id="email">
  </div>

  <button type="submit" class="btnprimary">Submit</button>
</form>
</div>
