
<div id="header" >
<ul id = "ulhead">
  <li><a class ="first">Developers with a story</a></li>
  <li class ="second"style="float:right"><a href="#about">About</a></li>
  <li class ="second"style="float:right"><a href="#about">Developers</a></li>
</ul>
</div>
