
<div id="header" >
<ul>
  <li><a class="active" href="#home">Developers with a story</a></li>
  <li style="float:right"><a href="#about">About</a></li>
  <li style="float:right"><a href="#about">Developers</a></li>
</ul>
</div>
