<div id = "header">
  <ul id="headerlistul">
    <li id="headerlist"><a class = "linkstyle"href = "/contact">Contact</a></li>
      <li id="headerlist" ><a class = "linkstyle" href = "/">Home</a></li>
      <li id="headerlist" ><a class = "linkstyle" href = "/about">About</a></li>
  </ul>
</div>
<div id ="midsection" class = "col-lg-12">
  <div class="jumbo">
    <p id ="jumboheading" class ="elementToFadeInAndOut" >Kayla Ford
    <br/> Aspiring Software Developer</p>

</div>
</div>

<div id ="topfooter" class = "col-lg-12">

  <p id ="footerheading" class = "col-lg-12">Who am I?</p>

<div id = "innerfooters"class = "col-md-12">


<p id ="smallinfo2"> Software Developer and Amateur Coffee Connoisseur. Focusing on making the world a bit more connected</p>
</div>
</div>
