
<div id = "header">
  <button  id="dropbtn"><i class="ion-navicon"></i></button>
  <ul id="headerlistul">
    <li id="headerlist"><a class = "linkstyle"href = "/">CONTACT</a></li>
      <li id="headerlist" ><a class = "linkstyle" href = "/">HOME</a></li>
      <li id="headerlist" ><a class = "linkstyle" href = "/about">ABOUT</a></li>
  </ul>
</div>
<div id ="midsection" class = "col-xs-12">
  <div class="jumbo">
    <p id ="jumboheading" class ="elementToFadeInAndOut" >Kayla Ford
    <br/> Aspiring Software Developer</p>

</div>
</div>

<div id ="topfooter" class = "col-xs-12">

  <p id ="footerheading" class = "col-xs-12"><i class="ion-ios-glasses-outline"></i></p>

<div id = "innerfooters"class = "col-xs-12">

<p id ="smallinfo2"> Software Developer and Amateur Coffee Connoisseur. Focusing on making the world a bit more connected</p>
</div>
<div id = "bottomfooter"><p id = "footerheading1"><a href = "https://github.com/Kaylaf16" class = "linkstyle"><i class="ion-social-github" ></i></a>
  <a class = "linkstyle" href ="https://www.linkedin.com/in/kaylaf16/"><i class="ion-social-linkedin" ></i></a><a href = "mailto:kaylaf9616@gmail.com"class = "linkstyle"><i class="ion-social-google"></i></a></p>

</div>
</div>
