
<div id = "header">
  <button  id="dropbtn"><i class="ion-navicon"></i></button>
  <ul id="headerlistul">
    <li id="headerlist"><a class = "linkstyle"href = "/contact">CONTACT</a></li>
      <li id="headerlist" ><a class = "linkstyle" href = "/">HOME</a></li>
      <li id="headerlist" ><a class = "linkstyle" href = "/about">ABOUT</a></li>
  </ul>
</div>
<div id ="midsection" class = "col-lg-12">
  <div class="jumbo">
    <p id ="jumboheading" class ="elementToFadeInAndOut" >Kayla Ford
    <br/> Aspiring Software Developer</p>

</div>
</div>

<div id ="topfooter" class = "col-lg-12">

  <p id ="footerheading" class = "col-lg-12"><i class="ion-ios-glasses-outline"></i></p>

<div id = "innerfooters"class = "col-md-12">

<p id ="smallinfo2"> Software Developer and Amateur Coffee Connoisseur. Focusing on making the world a bit more connected</p>
</div>

</div>
<div id = "bottomfooter"><p id = "footerheading1"> <i class="ion-social-github" ></i>
  <i class="ion-social-linkedin" ></i><i class="ion-social-google" ></i></p>

</div>
