<div id ="midsection" class = "col-lg-12">
  <div class="jumbotron vertical-center">
    <p id ="jumboheading" >Developers With a Story</p>
</div>
</div>

<div id ="topfooter" class = "col-lg-12">

  <p id ="footerheading" class = "col-lg-12">WHO WE ARE</p>

<div id = "innerfooters"class = "col-md-6">

<img src="images/userpic.jpg" id = "img1">
<p id = "smallinfo">Dayan Ramirez</p>
<p id ="smallinfo2">Lorem ipsum dolor sit amet,
   consectetur adipiscing elit.
   Vestibulum ultrices dolor vel posuere blandit. </p>
</div>
<div id = "innerfooters"class = "col-md-6">
<img src="images/userpic2.jpg" id = "img1">
<p id = "smallinfo">Kayla Ford</p>
<p id ="smallinfo2">Lorem ipsum dolor sit amet,
   consectetur adipiscing elit.
   Vestibulum ultrices dolor vel posuere blandit. </p>
</div>
</div>
