<div id ="midsection" class = "col-lg-12">
  <div class="jumbotron vertical-center">
    <p id ="jumboheading" class ="elementToFadeInAndOut" >KAYLA FORD</p>
</div>
</div>

<div id ="topfooter" class = "col-lg-12">

  <p id ="footerheading" class = "col-lg-12">WHO I AM</p>

<div id = "innerfooters"class = "col-md-12">
<img src="images/userpic2.jpg" id = "img1">

<p id ="smallinfo2">Lorem ipsum dolor sit amet,
   consectetur adipiscing elit.
   Vestibulum ultrices dolor vel posuere blandit. </p>
</div>
</div>
