<DOCTYPE! html>
<html>
<head>
  <script type="text/javascript" src="intro.js"></script>
  <link rel="stylesheet" type="text/css" href= "index.css"/>
  <link rel="stylesheet" type="text/css" href= "about.css"/>
    <link rel="stylesheet" type="text/css" href= "ionicons.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body >

  {{>includes/aboutpage}}
  <footer>
</footer>
</body>
<script>
$("#dropbtn").hover(function(){
  $("#headerlistul").fadeIn(1000);
});

$("#jumboid").hover(function(){
$("#jumboid").css("background-color","white");
$("#resumetext").css("color","black");
$("#resumetext").css("font-weight","500");
$(".resumelink").css("text-decoration","none");
$(".resumelink").css("color","black");
},function (){
  $("#jumboid").css("background-color","transparent");
  $("#resumetext").css("color","white");
  $("#resumetext").css("text-decoration","none");
});



</script>
</html>
