<DOCTYPE! html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href= "topheader.css"/>
  <link rel="stylesheet" type="text/css" href= "index.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
</head>
<body>
<header>
 {{>includes/headers}}
</header>
<footer>
  {{>includes/bottomfooter}}
</footer>
</body>
</html>
